<!--The content below is only a placeholder and can be replaced.-->
<div>
  <img id="marca" alt="Marca Campo Vivo" src="../assets/marca.svg">
</div>

<img id="circulo" alt="circulo vermelho" src="../assets/circleRed.svg">
<div id="productShow">
  <div id="cardRow">
    <div class="wrapper">
      <div class="parallax-card">
        <div class="parallax-card_holder">
          <div class="parallax-card_front">
          </div>
          <div class="parallax-card_back" >
            <div class="parallax-card_content"><span class="parallax-card_back-descr">Uma paçoca saborosa</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="parallax-card">
        <div class="parallax-card_holder">
          <div class="parallax-card_front">
          </div>
          <div class="parallax-card_back" >
            <div class="parallax-card_content"><span class="parallax-card_back-descr">Um mel gostoso</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="parallax-card">
        <div class="parallax-card_holder">
          <div class="parallax-card_front">
          </div>
          <div class="parallax-card_back" >
            <div class="parallax-card_content"><span class="parallax-card_back-descr">Um tomate delicioso</span></div>
          </div>
        </div>
      </div>
    </div> 
  </div>
  <div id="display">
  
  </div>
</div>
<img id="recorte1" alt="recorte com o texto: produzimos nossas iguarias sem conservantes, corantes e aromatizantes"
src="../assets/recorte1.svg">

<app-land2></app-land2>
<app-land3></app-land3>
<img id="land1" alt="morrinho verdejante 1" src="../assets/land1.svg">
<img id="colmeia" alt="formas e textos formando uma colmeia escrito: uma iniciativa de agricultura familiar" src="../assets/colmeia.svg">
